body{
  background-color: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }

  #ui {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
  }
  
  #ui a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }
  
  #ui a:hover {
    opacity: 1;
  }

  #viewport-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    top: 100px;
    transition: 
    width 1s ease,
    height 1s ease,
    aspect-ratio 2s ease,
    top 1s ease,
    left 1s ease,
    right 2s ease,
    bottom 1s ease; 
  }
  
  #viewport-container.compact {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 2px solid black; 
  }

  @media (max-width: 768px) {
    #viewport-container.compact {
      width: 80vw;
      aspect-ratio: 1 / 1;
      position: absolute;
      top: auto;
      right: auto;
      border: 2px solid black; 
    }
  }

  /* CURRICULUM */

  #content {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 5;
  font-family: sans-serif;
  max-width: 400px;
}

.section-text {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section-text.active {
  display: block;
  opacity: 1;
}